/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: 
#e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/*************
    FONTS
*************/
@font-face {
  font-family: sumac-rocky;
  src: url(../fonts/Sumac\ Rocky.otf);
}
@font-face {
  font-family: sumac-timber;
  src: url(../fonts/Sumac\ Timber.otf);
}
@font-face {
  font-family: reckless;
  src: url(../fonts/Reckless.otf);
}
@font-face {
  font-family: sumac-regular;
  src: url(../fonts/Sumac\ Regular.otf);
}
@font-face {
  font-family: passionate;
  src: url(../fonts/Feeling\ Passionate.otf);
}
@font-face {
  font-family: southam-hw;
  src: url(../fonts/Southam\ Demo.otf);
}
/*****************
    GENERAL
*****************/
:root {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "", sans-serif;
  color: #262626;
  line-height: 1;
  font-weight: 400;
  /* background-color: #262626; */
  background: url(../images/bkg/background-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: #262626;
  text-decoration: none;
}
ul {
  list-style: none;
}
.grid {
  display: grid;
}
.grid-1-cols {
  grid-template-columns: 1fr;
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.flex {
  display: flex;
}
/*************************
        HEADER
*************************/
.logo {
  width: 20rem;
  height: 10rem;
}
.header {
  /* background-color: #f6f6f6;  not APPLIED*/
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  /* background: url(../images/background-1.jpg);
  background-position: center;
  background-size: cover; */
}
.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link {
  padding: 0.3rem;
  color: #f6f6f6;
  font-size: 1.6rem;
}
.main-nav-link:hover {
  box-shadow: 0.2rem 0.2rem 2rem #f6f6f6;
  color: #a6a6a6;
}
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**********************
      LANDING PAGE
**********************/
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.section-hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #0e0e0e;
}
.hero {
  color: #f6f6f6;
}

.hero-img {
  width: 60rem;
  height: 50rem;
}
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
.hero-text-box {
  padding: 9.6rem 0 1.2rem 0;
}
.hero-heading {
  font-family: reckless;
  letter-spacing: 0.4rem;
  font-size: 6.4rem;
  margin-bottom: 2.4rem;
}
.hero-text {
  font-size: 2.4rem;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  color: #df6123;
  margin-bottom: 3.2rem;
}

.btn {
  display: inline-block;
  border: solid 2px #f6f6f6;
  padding: 1.2rem 3.6rem;
  font-size: 1.6rem;
  border-radius: 9px;
}
.margin-rt-sm {
  margin-right: 1.6rem;
}
.devour-btn:link,
.devour-btn:visited {
  color: #f6f6f6;
  background-color: #db4f0a;
}
.devour-btn:hover,
.devour-btn:active {
  color: #db4f0a;
  background-color: #f6f6f6;
  border: solid 2px #db4f0a;
}
.learn-btn:link,
.learn-btn:visited {
  color: #f6f6f6;
  border: solid 2px white;
}
.learn-btn:hover,
.learn-btn:active {
  background-color: #262626;
}
/***********************
  SECTION ABOUT US
***********************/

.section-about {
  position: relative;
}

.about-img {
  width: 100%;
  height: 64rem;
}
.about-text-box {
  width: 50%;
  position: absolute;
  left: 5%;
  top: 20%;
}
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.about-heading {
  text-align: center;
  font-family: passionate;
  font-size: 7.4rem;
  margin-bottom: 4.8rem;
  color: #ffffff;
}
.about-text {
  font-size: 3rem;
  line-height: 1.1;
  text-align: center;
  color: #f4cab6;
  letter-spacing: 0.05rem;
}
/*********************
    SECTION-PARTNERS
*********************/
/* .section-partners {
  padding: 4.8rem 0 4.8rem 0;
}
.img-partner {
  width: 100%;
  height: 100%;
}
.partners {
  padding: 0 4.8rem;
  border: solid 2px black;
  overflow-x: hidden;
}
.partners div {
  height: 20rem;
}
.mask {
  display: block;
  overflow: visible;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.lt-partner-img-box {
  width: 25%;
  /* background-image: -webkit-linear-gradient(0deg, #000, transparent); 
  background-image: linear-gradient(90deg, #000, transparent);
}
.rt-partner-img-box {
  width: 25%;
  /* background-image: -webkit-linear-gradient(0deg, #000, transparent);
  background-image: linear-gradient(90deg, #000, transparent);
} */

/*******************
    SECTION-MENU
********************/
.section-menu {
  padding: 4.8rem 0 9.6rem 0;
  /* background: url(../images/background-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}
.menu {
  padding: 0 4.8rem;
}
.ctr-flex {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.menu-subheading {
  margin-bottom: 2.4rem;
}
.meals {
  gap: 1.2rem;
  cursor: pointer;
}

.cards {
  column-gap: 1.2rem;
  row-gap: 2.4rem;
}
.card {
  background: url(../images/bkg/card-bkg-1.jpg);
  background-position: center;
  background-size: cover;
  color: #f6f6f6;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  border: solid 2px #f6f6f6;
  box-shadow: 0 1.8rem 3.8rem rgba(213, 209, 209, 0.25);
  /* box-shadow: 0 2.4rem 4.8rem rgba(213, 209, 209, 0.63); */
  transition: all 0.4s;
}
.card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 2.8rem 5.4rem rgba(213, 209, 209, 0.25);
}
.card-img {
  width: 100%;
  height: 17rem;
}
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
.menu-subheading {
  font-family: passionate;
  font-size: 5.4rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: #f6f6f6;
}
.meals {
  color: #f6f6f6;
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  gap: 1.8rem;
}
.meal {
  border: solid 1px #f6f6f6;
  padding: 0.6rem 1.2rem;
  border-radius: 15px;
}
.meal-active {
  background-color: #832f06;
}
.card-content {
  padding: 2.4rem 3.2rem 3.2rem 3.2rem;
}
.card-flex {
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}
.card-title {
  font-family: sumac-timber;
  font-size: 3.2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.6rem;
}
.card-attribute {
  font-size: 1.4rem;
}
.bold-card-attribute {
  color: #df6123;
  font-weight: 500;
}
.card-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
/* .card-tags:first-child {
  margin-left: 0;
}
.card-tags:last-child {
  margin-right: 0;
} */
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  /* margin: 0.4rem 0.2rem; */
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
  color: #fcfcfc;
}

.tag--vegetarian {
  background-color: #065f46;
}
.tag--vegan {
  background-color: #1e40af;
}
.tag--keto {
  background-color: #b45309;
}
.tag--popular {
  background-color: #dc2626;
}
/*********************
  SECTION BOOKINGS
*********************/

.hidden {
  display: none;
}
.container {
  position: relative;
}
.add-bookings-window {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 100vh;
  background-color: rgba(38, 38, 38, 0.772);
  padding: 9.6rem 4.8rem 4.8rem 4.8rem;
}
.upload {
  background-color: #f6f6f6;
  padding: 3.2rem 4.8rem;
  position: relative;
  border-radius: 9px;
}
.btn--close-modal {
  position: absolute;
  top: 2%;
  right: 2%;
  padding: 0.1rem 1rem;
  background-color: #f6f6f6;
  color: #df6123;
  border: solid 1px #df6123;
  font-size: 3.2rem;
}
.btn--close-modal:hover,
.btn--close-modal:visited {
  background-color: #df6123;
  color: #f6f6f6;
  border: solid 1px #f6f6f6;
}
.upload__heading {
  font-size: 3.2rem;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 2.4rem;
}
.form {
  column-gap: 2.4rem;
  row-gap: 1.2rem;
  margin-bottom: 2.4rem;
}

.labels {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
.labels label {
  font-size: 1.6rem;
}
.labels input,
.labels textarea,
.labels select {
  border-radius: 0px;
  padding: 0.6rem 1.2rem;
  border: none;
  width: 20rem;
}
.labels input:focus,
.labels textarea:focus,
.labels select:focus {
  outline: solid 1px #db4f0a;
}
.labels textarea {
  resize: none;
}
.upload__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: #df6123;
  border: solid 1px #df6123;
  background-color: #fff;
}
.upload__btn:hover {
  color: #fff;
  border: solid 1px #fff;
  background-color: #df6123;
}
/* .select .form-data {
  background-color: #f4cab6;
  color: inherit;
}
.select .form-data:focus {
  background-color: #f6f6f6;
  color: inherit;
} */
.labels select {
  display: block;
}
/******************
  SECTION-REVIEWS
******************/
.section-reviews {
  padding: 4.8rem 6.4rem 9.6rem 6.4rem;
}
.reviews {
  padding: 3.2rem 2.4rem;
  background-color: #1e1e1e;
  /* height: 30rem; */
  column-gap: 1.2rem;
}
.review-card {
  color: #f6f6f6;
  /***
  #72603e
  #ce6d39
  #03152492
  #3e4348
  ***/

  background-color: #18181b;
  padding: 4.8rem 1.2rem 1.2rem 1.2rem;

  transform: scale(0.8);

  transition: tranform 1s ease-out;
}

.active {
  animation: enlarge 1s ease-out;
  animation-fill-mode: forwards;
  box-shadow: 2px 5px 40px 0px rgba(156, 155, 155, 0.4);
}

@keyframes enlarge {
  0% {
    transform: scale(0.8);
  }

  30% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1.1);
  }
}
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

.review-subheading {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}
.star-box {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  color: #d97706;
}
.review-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.05rem;
  line-height: 1.1;
}
.signature {
  font-family: southam-hw;
  display: block;
  font-size: 3rem;
  margin-bottom: 0.4rem;
  color: #d97706;
}
.customer-name {
  font-size: 1.2rem;
}
.review-card {
  position: relative;
}
.quotation-img {
  position: absolute;
  /*
  5:4
  */
  width: 7.5rem;
  height: 6rem;
  top: -8%;
  right: 3%;
}
.review-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.review-card {
  padding: 6.4rem 1.2rem 1.2rem 1.2rem;
}
.customer-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  position: absolute;
  top: 16%;
  right: 8%;
  border: solid 4.5px #262626;
  /* box-shadow: 0.5rem 0.5rem 2rem rgba(#f6f6f6); */
}
.card {
  position: relative;
}
.btn-AddToCart {
  position: absolute;
  bottom: 8%;
  right: 5%;
  padding: 0.6rem 1.2rem;
  background-color: #db4f0a;
  color: #f6f6f6;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}
.btn-AddToCart:hover {
  color: #db4f0a;
  background-color: #f6f6f6;
}
/*********************
  SECTION CONTACT US
*********************/
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
.section-contactUs {
  padding: 4.8rem 4.8rem 9.6rem 4.8rem;
}
.contact-us {
  padding: 4.8rem;
  background-color: #18181b;
  color: #f6f6f6;
  column-gap: 1.2rem;
}
.contactUs-heading {
  font-size: 6.4rem;
  margin-bottom: 3.2rem;
}
.contact-details {
  flex-direction: column;
  gap: 2.4rem;
}
.icon-info-box {
  gap: 2.4rem;
  align-items: center;
}
.icon-info-box ion-icon {
  width: 4.5rem;
  height: 4.5rem;
  color: #d97706;
}
.icon-info-box span {
  font-size: 1.8rem;
}
.contact-img-box {
}
.contact-img-box img {
  width: 100%;
  height: 100%;
}
.contact-info-box {
  align-self: center;
}
footer {
  padding: 2.4rem 4.8rem 4.8rem 4.8rem;
  background-color: #1e1e1e;
  color: #f6f6f6;
  text-align: center;
  font-size: 1.2rem;
}
.logo-col {
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.4rem;
}
.footer-logo,
.social-icon {
  color: #f6f6f6;
}

.footer-logo {
  font-family: sumac-regular;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  align-self: center;
  flex-grow: 0;
  padding-bottom: 0.33rem;
}
.social-links {
  font-size: 2rem;
  gap: 0.8rem;
  align-items: center;
}
.social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-logo {
  position: fixed;
  bottom: 4%;
  right: 2%;
  padding: 1.2rem;
  font-size: 4.8rem;
  border-radius: 50%;
  color: #db4f0a;
  background-color: #f6f6f6;
}
.cart-logo:hover {
  color: #f6f6f6;
  background-color: #db4f0a;
}
/***************
  SECTION CART
***************/
/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
.section-cart {
  position: fixed;
  background-color: rgba(38, 38, 38, 0.772);
  width: 100%;
  height: 100vh;
  padding: 4.8rem;
  top: 0%;
  left: 0%;
}
.cart {
  background-color: #f6f6f6;
  position: relative;
  padding: 4.8rem 2.4rem;
  height: 100%;
  overflow: scroll;
}
.cartBtn--close-modal {
  position: absolute;
  top: 5%;
  right: 3%;
  padding: 0.1rem 1rem;
  background-color: #f6f6f6;
  color: #df6123;
  border: solid 1px #df6123;
  font-size: 3.2rem;
}
.cartBtn--close-modal:hover,
.cartBtn--close-modal:visited {
  background-color: #df6123;
  color: #f6f6f6;
  border: solid 1px #f6f6f6;
}
.cart-subheading {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
}
.cart-info {
  /* align-items: center; */
  row-gap: 1.6rem;
}
.about-cols {
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 0.25fr;
  text-align: center;
}
.about-cols span {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}
.cart-cards {
  flex-direction: column;
  gap: 2.4rem;
  position: relative;
}
.crossed::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7.2rem;
  top: 0;
  left: 0;
  background-color: rgb(38, 38, 38, 0.5);
  /* padding: 0.6rem 0; */
  z-index: 2;
}
.crossed img {
  box-shadow: none;
}
.cart-card {
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 0.25fr;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0;
}
.cart-card div {
  margin: 0rem auto;
}
.cart-item {
  gap: 2.4rem;
  align-items: center;
}
.cart-item-img {
  width: 6rem;
  height: 6rem;
  border-radius: 9px;
  margin: 0 0 0 auto;
  box-shadow: rgba(0, 0, 0, 0.5) 0.5px 3px 8px;
}
.cart-item span {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.2;
}
.card-item-quantity {
  gap: 0.8rem;
  align-items: center;
}
.quantity-btn {
  display: block;
  background-color: #fbede7;
  color: #db4f0a;
  font-size: 1.4rem;
  border: solid 1px #db4f0a;
}
.quantity {
  font-size: 2rem;
}
.cost {
  font-size: 1.8rem;
}
/****For CARD Overlay****/
.card-overlay {
  background-color: rgb(30, 30, 30, 0.4);
}
.hidden {
  display: none;
}
.total {
  justify-content: center;
  gap: 4.8rem;
  font-size: 2.4rem;
  border-top: solid 1px #f4cab6;
  padding-top: 1.2rem;
}
.place-order-btn {
  padding: 1.2rem 2.4rem;
  margin: 0 auto;
  display: block;
  background-color: #fbede7;
  color: #db4f0a;
  border: solid 1px #db4f0a;
  border-radius: 11px;
  font-size: 1.8rem;
  margin-top: 1.6rem;
}
.place-order-btn:hover {
  background-color: #f4cab6;
  /* color: #166534;

  border: solid 1px #166534; */
}
.checkbox-box {
  position: relative;
  z-index: 3;
}
